- if flash[:notice]
  .alert.alert-success.alert-dismissible{role: 'alert'}
    %button.close{'aria-label': 'Close', 'data-dismiss': 'alert', type: 'button'}
      %span{'aria-hidden': 'true'} ×
    %strong Success!
    = flash[:notice]
- if flash[:info]
  .alert.alert-info.alert-dismissible{role: 'alert'}
    %button.close{'aria-label': 'Close', 'data-dismiss': 'alert', type: 'button'}
      %span{'aria-hidden': 'true'} ×
    = flash[:info]
- if flash[:alert]
  .alert.alert-danger.alert-dismissible{role: 'alert'}
    %button.close{'aria-label': 'Close', 'data-dismiss': 'alert', type: 'button'}
      %span{'aria-hidden': 'true'} ×
    %strong Oh no!
    = flash[:alert]
.col-md-3
  %h1 Upcoming Kitchen Time
  %p
    Edit or cancel your bookings here but remember:
  %ol
    %li Bookings need to be at least 4 hours
    %li We need 24 hours notice to edit/cancel a booking
.col-md-9.reservations-tables
  %h2 Upcoming
  - if @upcoming.any?
    %table#upcoming-bookings.table.table-striped
      %thead
        %tr
          %th{width: '25%'} Resource(s)
          %th{width: '25%'} Date(s)
          %th{width: '25%'} In/Out Time
          %th{width: '25%', colspan: 2}
      %tbody
        = render partial: 'bookings/upcoming_booking', collection: @upcoming, as: :booking
  - else
    You don't have any upcoming bookings
  %br/
  - if @past.any?
    %h2 My Past Bookings
    #past-bookings
      %table.table.table-striped
        %thead
          %tr
            %th{width: '35%'} Resource(s)
            %th{width: '35%'} Date(s)
            %th{width: '30%'} In/Out Time
        %tbody
          = render partial: 'bookings/past_booking', collection: @past, as: :booking
