- if flash[:notice]
  .alert.alert-success.alert-dismissible{role: "alert"}
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", type: "button"}
      %span{"aria-hidden" => "true"} ×
    %strong Success!
    = flash[:notice]
- if flash[:info]
  .alert.alert-info.alert-dismissible{role: "alert"}
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", type: "button"}
      %span{"aria-hidden" => "true"} ×
    = flash[:info]
- if flash[:alert]
  .alert.alert-danger.alert-dismissible{role: "alert"}
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", type: "button"}
      %span{"aria-hidden" => "true"} ×
    %strong Oh no!
    = flash[:alert]
.col-md-3
  %h1 Upcoming Kitchen Time
  %p
    Make quick changes to your existing bookings, or remove your booking to replace it with a different date/time/resource. All bookings must be at least 4 hours.
    %strong You can edit your booking up to 24 hours before you’re expected in the kitchen.
    You can always extend your booking if there’s availability.
.col-md-9
  %h2 Upcoming
  %table#upcoming-bookings.table.table-striped
    %thead
      %tr
        %th{width: '25%'} Resource(s)
        %th{width: '25%'} Date(s)
        %th{width: '25%'} In/Out Time
        %th{width: '25%', colspan: 2}
    %tbody
      = render partial: 'bookings/upcoming_booking', collection: @upcoming, as: :booking
  %br/
  %h2
    My Past Bookings
  #past-bookings
    %table.table.table-striped
      = render partial: 'bookings/past_booking', collection: @past, as: :booking
