<% if flash[:notice] %>
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Success!</strong> <%= flash[:notice] %>
</div>
<% end %>
<% if flash[:info] %>
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= flash[:info] %>
</div>
<% end %>
<% if flash[:alert] %>
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Oh no!</strong> <%= flash[:alert] %>
</div>
<% end %>

<h1>My Upcoming Bookings</h1>
<table id="upcoming-bookings" class="table table-striped">
<% for booking in @upcoming do %>
<tr>
  <td><%= booking.resource.name %></td>
  <td><%= Time.parse(booking.from_time).localtime.to_s(:long) %> - <%= Time.parse(booking.to_time).localtime.to_s(:time) %></td>
  <td><%= link_to('<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>'.html_safe, edit_booking_path(booking.id), :class => "btn btn-default btn-sm") %></td>
  <td><%= link_to('<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</a>'.html_safe, booking_path(booking.id), :method => :delete, :data => {:confirm => "Are you sure you want to cancel this booking for #{Date.parse(booking.from_time)}?"}, :class => "btn btn-default btn-sm") %></td>
</tr>
<% end %>
</table>

<h2>
  My Past Bookings 
  <small class="glyphicon glyphicon-plus" data-toggle="collapse" data-target="#past_bookings"></small> 
</h2>
 
<div id="past_bookings" class="collapse in">
  <table class="table table-striped">
  <% for booking in @past do %>
  <tr>
    <td><%= booking.resource.name %></td>
    <td><%= Time.parse(booking.from_time).to_s(:long) %> - <%= Time.parse(booking.to_time).localtime.to_s(:time) %></td>
  </tr>
  <% end %>
  </table>
</div>