<% if flash[:notice] %>
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Success!</strong> <%= flash[:notice] %>
</div>
<% end %>
<% if flash[:info] %>
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= flash[:info] %>
</div>
<% end %>
<% if flash[:alert] %>
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Oh no!</strong> <%= flash[:alert] %>
</div>
<% end %>

<h1>Upcoming Kitchen Time:</h1>
<p>Make quick changes to your existing bookings, or remove your booking to replace it with a different date/time/resource. All bookings must be at least 4 hours. <strong>You can edit your booking up to 24 hours before you’re expected in the kitchen.</strong> You can always extend your booking if there’s availability.</p>

<table id="upcoming-bookings" class="table table-striped">
<thead>
  <tr>
    <th>Resource(s)</th>
    <th>Date(s)</th>
    <th>In/Out Time</th>
    <th colspan="2"></th>
  </tr>
</thead>
<tbody>
<% for booking in @upcoming do %>
<tr>
  <td><%= booking.resource.name %> <%= booking.resource.resource_type_name %></td>
  <td><%= booking.friendly_dates %></td>
  <td><%= booking.friendly_times %></td>
  <td><%= link_to('<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit'.html_safe, edit_booking_path(booking.id), :class => "btn btn-default btn-sm btn-edit") %></td>
  <% if ((Time.parse(booking.from_time) - Time.now)/1.minute) <= booking.resource.late_cancellation_limit %>
  <td class="disabled-cancel" data-toggle="tooltip" data-placement="left" title="Locked. This booking starts in less than 24 hours."><%= link_to('<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove'.html_safe, "#", :class => "btn btn-default btn-sm disabled") %></td>
  <% else %>
  <td><%= link_to('<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove'.html_safe, booking_path(booking.id), :method => :delete, :data => {:confirm => "Are you sure you want to cancel this booking for #{Date.parse(booking.from_time)}?"}, :class => "btn btn-default btn-sm") %></td>
  <% end %>
</tr>
<% if booking == @upcoming.first %>
<tr id="editFormContainer">
  <td colspan="5" class="row">
    <%= form_tag("/bookings", method: "put", id: "editBookingForm") do %>
      <%= hidden_field_tag("bookingId") %>
      <%= hidden_field_tag("bookingDate") %>
      <div class="col-md-3">
        <h5 class="text-uppercase">Quick Edit</h5>
        <label>In Date:</label> <span id="inDate"></span><br />
        <label>Booked for:</label> <span id="bookedFor"></span><br />
        <label>Booked by:</label> <span id="bookedBy"></span> 
      </div>
      <div class="col-md-3 row">
        <h5>Time of day: <small>extend your hours</small></h5>
        <div class="form-group form-inline">
          <label class="col-sm-4">In at:</label> 
          <%= select_tag "bookingFrom", options_for_select(Booking::TIMESLOTS), {:class => "chosen-select form-control col-sm-5"} %>
        </div>
        <div class="form-group form-inline">
          <label class="col-sm-4">Out by:</label> 
          <%= select_tag "bookingTo", options_for_select(Booking::TIMESLOTS), {:class => "chosen-select form-control col-sm-5"} %>
        </div>
      </div>
      <div class="col-md-3 row">
        <h5>Resource(s): <small>change your spot</small></h5>
        <div class="form-group form-inline">
          <%= select_tag "bookingResource", options_for_select([["A. Hedgehog",42766734],["B. Chanterelle",42766735], ["C. Porcini",42766736]]), {:class => "chosen-select form-control col-sm-10"} %>
          <a href=""><span class="glyphicon glyphicon-remove" aria-hidden="true"></span><span class="sr-only">remove</span></a><br />
        </div>
      </div>
      <div class="col-md-3 text-center">
        <button type="button" class="btn btn-primary">Update</button><br />
        <a id="btn-cancel" href="">Cancel changes</a>
      </div>
    <% end %>
  </td>
</tr>
<% end %>
<% end %>
</tbody>
</table>

<h2>
  My Past Bookings 
  <small class="glyphicon glyphicon-plus" data-toggle="collapse" data-target="#past-bookings"></small> 
</h2>
 
<div id="past-bookings" class="collapse in">
  <table class="table table-striped">
  <% for booking in @past do %>
  <tr>
    <td><%= booking.resource.name %></td>
    <td><%= booking.friendly_dates %></td>
    <td><%= booking.friendly_times %></td>
  </tr>
  <% end %>
  </table>
</div>