- position = resource_position(resource)
.resource{style: "top: #{position[:top]}px; left: #{position[:left]}px", class: [resource.resource_type_name.parameterize, ('available' if resource.available)], id: "resource-#{resource.id}", data: { toggle: :popover, content: resource.description }, title: "#{resource.name} #{resource.resource_type_name}" }
  .button