<% if flash[:alert] %>
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Oh no!</strong> <%= flash[:alert] %>
</div>
<% end %>

<h1>Book a table in the kitchen:</h1>
<p>Prep tables are the basic unit of the kitchen. Everything happens around a prep table! Book however many you need for your team. Minimum 4 hours. We suggest limiting 2-3 crew members at each table. Please note that we are closed 2AM-8AM nightly for cleaning.</p> 

<div id="bookingModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">You're booking: <span></span></h4>
      </div>
      <div class="modal-body">

        <%= form_tag("/bookings", method: "post", id: "bookingForm") do %>
          <%= hidden_field_tag("bookingResourceId") %>
          <%= hidden_field_tag("bookingDate") %>
          <%= hidden_field_tag("bookingFrom") %>
          <%= hidden_field_tag("bookingTo") %>
        <% end %>

        <h5 class="text-left"><a href="#" class="btn-change pull-right">Change</a>For: <span></span></h3> 
        
        <p class="my-plan">
          Hours requested in this booking: <strong><span class="hoursBooking"></span></strong><br />
          Hours remaining in your plan: <strong><span class="hoursPlan"></span></strong> <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save your booking</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="filters">
  <form id="bookingFilters" class="form-inline">
    <div class="form-group">
      <label for="bookingRequestDate">When do you want to come in?</label>
      <input type="text" id="bookingRequestDate" class="form-control datepicker" value="<%= params["bookingRequestDate"] %>" />
      <%= select_tag "bookingRequestFromTime", options_for_select(Booking::TIMESLOTS, params["bookingRequestFromTime"]), {:class => "chosen-select form-control"} %> - 
      <%= select_tag "bookingRequestToTime", options_for_select(Booking::TIMESLOTS, params["bookingRequestToTime"]), {:class => "chosen-select form-control"} %>
      <input type="submit" value="Refresh" class="btn btn-default" />
    </div>
  </form>
</div>

<div id="map-container">
  <div id="disable-map"></div>
  <div id="map"><div id="overlay"></div></div>
</div>

<div id="recurring-container">
  <h2>Make it recurring?</h2>
  <p>Got your favorite table? Put a hold on it now by telling us when you plan to come in regularly! Note that you can only book 3 weeks in advance. Make a mistake? You may cancel up to 2 days a month, with at least 24 hours notice.</p>

  <%= form_tag("/bookings/#{flash[:booking_id]}", method: "put", id: "bookingRecurringForm", class: "form-horizontal") do %>
    <div class="form-group">
      <label for="booking_resources" class="col-sm-2 control-label">Your table:</label>
      <div id="recur-booking" class="col-sm-3">
        <%= flash[:notice] %>
      </div>
    </div>
    <div class="form-group">
      <label for="booking_repeats" class="col-sm-2 control-label">This booking should repeat:</label>
      <div class="col-sm-3">
        <%= select_tag("booking_repeats", options_for_select([["Daily, for consecutive days",1]]), :class => "form-control") %>
      </div>
    </div>
    <div class="form-group">
      <label for="booking_numdays" class="col-sm-2 control-label">How many days?</label>
      <div class="col-sm-1">
        <%= text_field_tag("booking_numdays", "", class: "form-control") %>
      </div>
    </div>
    <div class="form-group text-center col-sm-5">
      <input type="submit" value="Check availability" class="btn btn-default" />
      <p>No thanks, let me <%= link_to "create another booking from scratch", resources_path %>, <br />
        or take me to <%= link_to "My Bookings", bookings_path %></p>
    </div>
  <% end %>

</div>
