- if flash[:alert]
  .alert.alert-danger.alert-dismissible{role: 'alert'}
    %button.close{'aria-label': 'Close', 'data-dismiss': 'alert', type: 'button'}
      %span{'aria-hidden': 'true'} ×
    %strong Oh no!
    = flash[:alert]
.col-md-3
  %h1 Book a table in the kitchen
  %ol
    %li Choose your date and time
    %li Choose your favorite table
    %li Cook!
.col-md-9
  #bookingModal.modal.fade
    .modal-dialog
      .modal-content
        = form_tag('/bookings', method: 'post', id: 'bookingForm') do
          = hidden_field_tag('bookingResourceId')
          = hidden_field_tag('bookingDate')
          = hidden_field_tag('bookingFrom')
          = hidden_field_tag('bookingTo')
          .modal-header
            %button.close{'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button'}
              %span{'aria-hidden': 'true'} ×
            %h4.modal-title
              You're booking:
              %span.text_blue
          .modal-body
            %h5.text-left
              For:
              %span.text_blue
              %a.btn-change{'data-dismiss': 'modal', href: '#'}> (Change)
            %p.my-plan
              Hours requested in this booking:
              %strong
                %span.hoursBooking.text_blue
              %br/
              Hours remaining in your plan:
              %strong
                %span.text_blue#hours-remaining= pluralize(@coworker.remaining_hours_in_plan.to_i, 'hour')
              %span.text-warning (you will be invoiced any extras)
              %span.glyphicon.glyphicon-ok.text-success{'aria-hidden': 'true'}
          .modal-footer
            %button.btn.btn-grey{'data-dismiss': 'modal', type: 'button'} Cancel
            = submit_tag 'Save your booking', class: 'btn btn-primary', data: { disable_with: 'Saving...' }
  #filters
    = form_tag(resources_path, method: 'get', remote: true, id: 'booking-filter', class: 'form-inline') do
      = hidden_field_tag 'bookingRequestFromTime', params[:bookingRequestFromTime]
      = hidden_field_tag 'bookingRequestToTime', params[:bookingRequestToTime]
      %h2
        =fa_icon 'calendar-check-o'
        When do you want to come in?
      .form-group.booking-date
        .booking-label Choose date:
        %input#booking-filter-date.form-control.datepicker{name: 'bookingRequestDate', type: 'text', value: params[:bookingRequestDate]}
      .form-group.booking-time
        .booking-label Choose time range:
        #time-slider-range-holder
          %span
        #filter-time-slider.time-slider-range{data: {target: '#time-slider-range-holder', from_target: '#bookingRequestFromTime', to_target: '#bookingRequestToTime', from: params[:bookingRequestFromTime], to: params[:bookingRequestToTime]}}
  %h2 Choose a table
  %p Click on your table below
  #map-container
    #loader
      %i.fa.fa-refresh.throbber{'aria-hidden': true}
    #disable-map
      %i.fa.fa-ban{'aria-hidden': true}
    #map
      #overlay
  #recurring-container.disabled
    .hide.alert.alert-success.alert-dismissible{role: 'alert'}
      %button.close{'aria-label': 'Close', 'data-dismiss': 'alert', type: 'button'}
        %span{'aria-hidden': 'true'} ×
      %strong Success!
      Your booking has been saved!
    %h2 Want a reminder?
    %p
      You can
      = google_calendar_link 'create google calendar event.', text: "Booking #{@booking[:resource]}", date_from: @booking[:from_time], date_to: @booking[:to_time]
    %h2 Have a favorite table?
    %p Reserve it now for the future. Please note you can only reserve up to three weeks in advance.
    = form_tag("/bookings/#{@booking[:id]}", method: 'put', id: 'bookingRecurringForm', class: 'form-horizontal') do
      = hidden_field_tag('booking_dates')
      .form-group
        %label.control-label{for: :booking_resources} Your table:
        #recur-booking
          = @booking[:resource]
      .form-group
        %div#booking-filter-dates.multi-datepicker{for: :booking_dates}
      .form-group.text-center
        = submit_tag 'Check availability', class: 'btn btn-default btn-grey', data: { disable_with: 'Checking...' }
        %p
          No thanks, let me #{link_to 'create another booking from scratch', resources_path},
          %br/
          or take me to #{link_to 'My Bookings', bookings_path}
