/ secondary nav (will collapse on smaller screens)
#subnav-collapse-1.collapse.navbar-collapse.navbar-right
  %ul.nav.navbar-nav
    %li
      %p.navbar-text
        Welcome back, #{@coworker.salutation || "you"}
    %li.accounts-nav
      %a{"data-toggle" => "popover", "data-trigger" => "focus", role: "button", tabindex: "0", title: "My Account"} My Account
#my_account_popover.hidden
  .col-md-12
    .col-md-6
      %small
        You have
        %br/
      %span#my-account-remaining-hours= pluralize(@coworker.remaining_hours_in_plan.to_i, "hour")
      %br/
      %small remaining this month
    %div
      %small
        Your Plan:
        %br/
      = @coworker.billing_plan
      %br/
      %small
        (#{@coworker.total_hours_in_plan.to_i} hrs, #{number_to_currency(@coworker.extra_service_cost_per_hour)}/hr add'l)
    %hr/
    = link_to "Logout", logout_path, class: "btn btn-default", method: "delete"
    %br/
    %br/
