/ main nav
%ul#nav-main.nav.navbar-nav.navbar-left
  %li.bookings-nav
    = link_to 'My Reservations', bookings_path
  %li.resources-nav
    = link_to 'Book Kitchen Time', resources_path
  %li.accounts-nav
    %a{'data-toggle': 'popover', 'data-trigger': 'focus', role: 'button', tabindex: '0', title: 'My Account'}
      =fa_icon 'user'
      My account
  #my_account_popover.hidden
    .row
      .col-sm-6
        %small You have
        %strong.text_blue.display-block#my-account-remaining-hours= pluralize(@coworker.remaining_hours_in_plan.to_i, 'hour')
        %small remaining this month
      .col-sm-6
        %small Your Plan:
        %strong.text_blue.display-block= @coworker.billing_plan
        %small
          (#{@coworker.total_hours_in_plan.to_i} hrs, #{number_to_currency(@coworker.extra_service_cost_per_hour)}/hr add'l)
    .row
      .col-sm-12
        = link_to 'Logout', logout_path, class: 'btn btn-grey user-logout', method: 'delete'