/ main nav
%ul#nav-main.nav.navbar-nav.navbar-left
  %li.bookings-nav
    = link_to 'My Reservations', bookings_path
  %li.resources-nav
    = link_to 'Book Kitchen Time', resources_path
  %li.upcoming-nav
    = link_to 'Upcoming bookings', upcoming_bookings_path
  %li.info-nav
    %a{'data-toggle': 'popover', role: 'button', tabindex: '0', title: 'Important Information'}
      Important Information
  %li.accounts-nav
    %a{'data-toggle': 'popover', role: 'button', tabindex: '0', title: 'My Account'}
      =fa_icon 'user'
      My account
  #my_account_popover.hidden
    .row
      .col-sm-6
        %small You have
        %strong.text_blue.display-block#my-account-remaining-hours= pluralize(@coworker.remaining_hours_in_plan.to_i, 'hour')
        %small remaining this month
      .col-sm-6
        %small Your Plan:
        %strong.text_blue.display-block= @coworker.billing_plan
        %small
          (#{@coworker.total_hours_in_plan.to_i} hrs, #{number_to_currency(@coworker.extra_service_cost_per_hour)}/hr add'l)
    .row
      .col-sm-12
        = link_to 'Logout', logout_path, class: 'btn btn-primary user-logout'
  #information_popover.hidden
    .row.important-info-row
      .col-sm-4
        %small Emergencies: Callie's #
      .col-sm-8.pt-10
        %strong.text_blue.display-block
          %a{'href': 'tel:206-356-3739'} (206) 356-3739
    %hr.important-info-hr
    .row.important-info-row
      .col-sm-4
        %small Matt's #
      .col-sm-8
        %strong.text_blue.display-block
          %a{'href': 'tel:415-279-7337'} (415) 279-7337
    .row
      .col-sm-4
        %small Iso's #
      .col-sm-8
        %strong.text_blue.display-block
          %a{'href': 'tel:617-894-0597'} (617) 894-0597
    .row
      .col-sm-4
        %small Matt's Email
      .col-sm-8
        %strong.text_blue.display-block
          %a{'href': 'mailto:matt@foragekitchen.com'} matt@foragekitchen.com
    .row
      .col-sm-4
        %small Iso's Email
      .col-sm-8
        %strong.text_blue.display-block
          %a{'href': 'mailto:iso@foragekitchen.com'} iso@foragekitchen.com
    .row
      .col-sm-4
        %small Alarm Code
      .col-sm-8
        %strong.text_blue.display-block 1207
    .row
      .col-sm-4
        %small Gate Code
      .col-sm-8
        %strong.text_blue.display-block 4762
