<!DOCTYPE html>
<html>
<head>
  <title>NexudusApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <% if defined?(Timecop) && Timecop.top_stack_item %>
  <% unix_millis = (Time.now.to_f * 1000.0).to_i %>
  <%= javascript_include_tag "/assets/sinon.js" %>
  <script>
    sinon.useFakeTimers(<%= unix_millis %>);
  </script>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>">

  <nav class="navbar navbar-default" id="nav-main">
    <div class="container-fluid">
      <div class="navbar-header">

        <!-- toggle nav button on responsive layout -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- logo -->
        <a class="navbar-brand" href="#"><%= image_tag "logo-forage-kitchen-small.png", :alt => "Forage Kitchen" %></a>

        <%= render "layouts/nav_main" if user_signed_in? %>

      </div>

      <%= render "layouts/nav_secondary" if user_signed_in? %>

    </div>
  </nav>

  <div class="container-fluid">
    <%= yield %>
  </div>
    
  <footer>
    <div class="container-fluid">
      <h5>This is a footer!</h5>
      <p>It should contain helpful links and contact information.</p>
    </div>
  </footer>
    
</body>
</html>
